NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
CRON_SECRET=
JOB_IMPORT_KEYWORD=임상병리사
WORKNET_API_KEY=
WORKNET_API_URL=https://www.work24.go.kr/cm/openApi/call/wk/callOpenApiSvcInfo210L01.do
SARAMIN_ACCESS_KEY=
